<div class="pwr_showpg_wrapper">

  <h3 class="pwr_showpg_heading white"><%= @power.name %></h3>
  <h4 class="pwr_showpg_type"><%= @power.pwr_type %></h4>
  <table class="pwr_showpg_mvs">
    <tr>
      <td class="mv_type">COMMON ATTACK</td>
      <td class="mv_info"><%= @att.name.upcase %><br><%= "#{@att.base_pts} base points" %></td>
    </tr>
    <tr>
      <td class="mv_type">POWER ATTACK</td>
      <td class="mv_info"><%= @pwr.name.upcase %><br><%= "#{@pwr.base_pts} base points" %></td>
    </tr>
  </table>
  <div class="pwr_edit_link long"><%= link_to "Edit Power", edit_power_path(@power) %></div>
</div>

<div class="pwr_showpg_form_wrapper">
  <%= add_to_char_or_login %>
</div>
