<h1 class="form_page_name">SIGN UP</h1>

<% if @user.errors.any? %>
  <ul class='errors_present'>
    <li><%= "errors! oh no!" %></li>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @user, class: 'form_design signup', local: true) do |f| %>
  <%= f.label :alias, "Alias" %>
  <%= f.text_field :alias, class: "field_error" %>
  <%= f.label :email, "Email Address" %>
  <%= f.text_field :email %>
  <%= f.label :password, "Password" %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation, "Confirm Password:" %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Sign Up", data: { disable_with: false } %>

  <p class="form_in_bubble_breaker">- OR -</p>
  <div class="google_login_link_wrapper"><%= link_to "Log in with your Google account.", '/auth/google_oauth2', method: :post %></div>
<% end %>
