<h1 class="user_form_pg_name">SIGN UP</h1>

<% if @user.errors.any? %>
  <ul class='user_form_errors'>
    <li><%= "errors! oh no!" %></li>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @user, class: 'user_form_wrapper signup', local: true) do |f| %>
  <%= f.label :alias, "Alias" %>
  <%= f.text_field :alias  %>
  <%= f.label :email, "Email Address" %>
  <%= f.text_field :email %>
  <%= f.label :password, "Password" %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation, "Confirm Password:" %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Sign Up", data: { disable_with: false } %>

  <p class="user_form_text_break">- OR -</p>
  <div class="google_login_link_wrapper"><%= link_to "Log in with your Google account.", '/auth/google_oauth2', method: :post %></div>
<% end %>
