<h1 class="page_name">SET YOUR ALIAS</h1>

<ul class='errors_present'>
  <li><%= "set an alias to complete sign up" %></li>
  <% if @user.errors.any? %>
    <li><%= "errors! oh no!" %></li>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>
</ul>

<%= form_with(model: @user, url: set_alias_path(@user), class: 'form_design signup', method: :patch, local: true) do |f| %>
  <%= f.label :alias, "Alias" %>
  <%= f.text_field :alias, class: "field_error", value: "" %>
  <%= f.submit "Set Alias", data: { disable_with: false } %>
<% end %>
