<div id="user_showpg_wrapper">
  <div id="user_showpg_profile_bg">
    <div class="user_showpg_profile_container">
      <div class="user_showpg_welcome_block">
        <div class="user_showpg_profile_pic">
          <%= image_tag @user.profile_pic %>
        </div>
        <div>
          <h2 class="user_showpg_greeting"><%= user_show_page_greeting %></h2>
          <%= render partial: "follow_button" %>
        </div>
      </div>

      <div id="followers_section">
        <div class="follow_count_container"><div class="follow_count_num"><%= @user.follower_count %></div>Followers</div>
        <div class="follow_count_container"><div class="follow_count_num"><%= @user.following_count %></div>Following</div>
      </div>

      <div id="user_showpg_char_section">
        <h3 class="user_showpg_section_title">Characters</h3>
        <div class="user_showpg_chars_table">
          <ul class="user_showpg_chars_list">
            <% @chars.each do |c| %>
              <li>
                <%= link_to c.supername, user_character_path(id: c.id, user_id: c.user_id) %>
              </li>
            <% end %>
          </ul>
          <ul class="user_showpg_chars_list">
            <% @chars.each do |c| %>
              <li>
                <%= "Lvl. #{c.level} - #{c.alignment} #{c.char_type}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="user_bip_container">
        <%= user_battles_in_progress %>
      </div>
      
    </div>
  </div>

  <div class="user_showpg_right_container">
    <div class="user_showpg_tab_container">
    <%= render partial: 'userpg_tab_panel' %>
    </div>
    <%= current_user_profile_links %>
  </div>
</div>