<div class="welcome_page_container">
  <h1 class="welcome_title">Super Universe</h1>
  <%= welcome_pg_if_not_logged_in %>
  <div class="welcome_news_feed_title">NEWS</div>
  <%= welcome_newsfeed_sizing %>
    <% @news.each do |n| %>
      <div class="welcome_news_item">
        <div class="welcome_news_item_date"><%= n.pretty_date %></div>
        <div class="welcome_news_item_title"><%= n.title %></div>
        <div class="welcome_news_item_description"><%= n.description %></div>
      </div>
    <% end %>
  </div>
</div>

<div class="recent_battles_container">
  <h3 class="recent_battles_heading">Recent Battles:</h3>
  <div class="recent_battles_box">
    <div class="recent_battles">
      <% @recent.each do |b| %>
        <div class="recent_battle_line">
          <% if b.outcome == "Victory" %>
            <div class="rb_victory_arrow">▲
          <% else %>
            <div class="rb_defeat_arrow">▼
          <% end %>
          </div>
          <div><%= battle_result_for_welcome(b) %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class='leader_board_container'>
  <div class="leader_board_header">⯈⯈ Leader Board</div>
  <div class="leader_board">
    <div class='leader_board_title'>Top Supers:</div>
    <% @top_supers.each_with_index do |c, i| %>
      <%= leader_board_char(c, i, "TOP_SUPERS") %>
    <% end %>
  </div>
  <div class="leader_board">
    <div class='leader_board_title'>Fiercest Protagonists:</div>
    <% @protag_records.each_with_index do |c, i| %>
      <%= leader_board_char(c, i, "PROTAG") %>
    <% end %>
  </div>
  <div class="leader_board">
    <div class='leader_board_title'>Toughest Antagonists:</div>
    <% @antag_records.each_with_index do |c, i| %>
      <%= leader_board_char(c, i, "ANTAG") %>
    <% end %>
  </div>
</div>