<div id="news_feed_container">
    <h1 class="welcome_title">News Updates</h1>

    <div id="news_feed">
        <% @all_news.each do |n| %>
            <div class="news_item">
                <div class="news_item_title"> <%= n.title %></div>
                <div class="news_item_description"> <%= n.description %></div>
                
                <% if logged_in? && current_user.is_admin? %>
                    <div class="admin_news_links_container">
                        <%= form_with(url: "/update_homepage", method: "patch") do |f| %>
                            <%= f.hidden_field :id, value: n.id %>
                            <%= submit_tag n.homepage ? "Remove from Welcome" : "Show on Welcome" %>
                        <% end %>
                        <%= link_to "Update News Entry", edit_news_item_path(n.id) %>
                    </div>
                <% end %>

            </div>
        <% end %>
    </div>

</div>