<div id="news_feed_container">
    <h1 class="welcome_title">News Updates</h1>

    <% if logged_in? && current_user.is_admin? %>
        <%= link_to "Add New Entry", new_news_item_path, class: "new_news_button" %>
    <% end %>
    <div id="news_feed">
        <% @all_news.each do |n| %>
            <div class="news_item">
                <div class="news_item_date"><%= n.pretty_date %></div>
                <div class="news_item_title"> <%= n.title %></div>
                <div class="news_item_description"> <%= n.description %></div>
                
                <% if logged_in? && current_user.is_admin? %>
                    <div class="admin_news_links_container">
                        <%= form_with(url: "/update_view", method: "patch") do |f| %>
                            <%= f.hidden_field :id, value: n.id %>
                            <%= f.hidden_field :toggle, value: "homepage" %>
                            <%= submit_tag n.homepage ? "Remove from Welcome" : "Show on Welcome" %>
                        <% end %>
                        <%= form_with(url: "/update_view", method: "patch") do |f| %>
                            <%= f.hidden_field :id, value: n.id %>
                            <%= f.hidden_field :toggle, value: "indexpage" %>
                            <%= submit_tag n.indexpage ? "Hide from Non-Admins" : "Show to Non-Admins" %>
                        <% end %>
                        <%= link_to "Update News Entry", edit_news_item_path(n.id) %>
                        <%= form_with(url: news_item_path(n.id), method: "delete") do |f| %>
                            <%= f.hidden_field :id, value: n.id %>
                            <%= f.submit "Delete News Entry", data: { confirm: 'Are you sure you wish to delete this news entry?' } %>
                        <% end %>
                    </div>
                <% end %>

            </div>
        <% end %>
    </div>

</div>