<tr class="cft_set_row">
  <td class="cft_stat"><%= char_form.label :hp, "*HP" %></td>
  <td class="cft_stat"><%= char_form.text_field :hp %></td>
  <td class="cft_stat"><%= char_form.label :att, "*ATT" %></td>
  <td class="cft_stat"><%= char_form.text_field :att %></td>
  <td class="cft_stat"><%= char_form.label :def, "*DEF" %></td>
  <td class="cft_stat sm_rt_margin"><%= char_form.text_field :def %></td>
  <td class="field_with_errors"><%= char_form_error(:hp) %></td>
</tr>
