<table class="char_form_table">
  <tr class="cft_set_row">
    <td class="cft_label"><%= char_form.label :supername, "*Supername" %></td>
    <td class="cft_input"><%= char_form.text_field :supername %></td>
    <td class="field_with_errors"><%= char_form_error(:supername) %></td>
  </tr>
  <tr class="cft_set_row">
    <td class="cft_label"><%= char_form.label :secret_identity, "*Secret Identity" %></td>
    <td class="cft_input"><%= char_form.text_field :secret_identity %></td>
    <td class="field_with_errors"><%= char_form_error(:secret_identity) %></td>
  </tr>
  <tr class="cft_set_row">
    <td class="cft_label"><%= char_form.label :dox_code, "Dox Code" %></td>
    <td class="cft_input"><%= char_form.password_field :dox_code %></td>
  </tr>
  <tr class="cft_set_row">
    <td class="cft_label"><%= char_form.label :char_type, "*Character Type" %></td>
    <td class="cft_input"><%= char_form.collection_select :char_type, ["Hero", "Villain"], :to_s, :to_s, include_blank: true  %></td>
    <td class="field_with_errors"><%= char_form_error(:char_type) %></td>
  </tr>
  <tr class="cft_set_row">
    <td class="cft_label"><%= char_form.label :alignment, "*Alignment" %></td>
    <td class="radio_buttons"><%= char_form.collection_radio_buttons :alignment, @alignments, :to_s, :to_s %></td>
    <td class="field_with_errors"><%= char_form_error(:alignment) %></td>
  </tr>
  <%= stats_if_new_char(char_form, form) %>
  <tr class="cft_set_row">
    <td class="cft_label"><%= char_form.label :bio, "Character Bio\n(optional)" %></td>
    <td class="cft_input"><%= char_form.text_area :bio %></td>
    <td class="field_with_errors"><%= char_form_error(:bio) %></td>
  </tr>
</table>
