<div class="char_showpg_wrapper">
  <div id="char_showpg_char_card" class="char_showpg_card">

    <h2 class="char_showpg_supername"><%= @char.supername %></h2>
    <h4 class="char_showpg_secretid"> aka <%= secret_id_class %></h4><%= dox_button %>
    <table>
      <tr>
        <td>
          <ul class="char_showpg_char_info_list">
            <li><%= @char.alignment %> <%= @char.char_type %></li>
            <li><%= "__HP: #{@char.hp}" %></li>
            <li><%= "_ATT: #{@char.att}" %></li>
            <li><%= "_DEF: #{@char.def}" %></li>
          </ul>
        </td>
        <td class="pick_battle_char_form">
          <%= char_showpg_battle_form %>
        </td>
      </tr>
    </table>
    <% if !@char.bio.nil? %>
      <p class = "char_showpg_bio">
        <%= @char.bio %>
      </p>
    <% end %>

    <%= char_edit_links %>
  </div>

  <div id="char_showpg_power_card" class="char_showpg_card">
    <h2 class="char_showpg_supername">Superpowers</h2>
    <%= char_showpg_superpowers %>
  </div>
</div>
