<div id="char_showpg_other_info">
  <section class="char_showpg_other_info_header">
    <div class="char_showpg_sidebar_title flex_sidebar_title">
      <div class="char_showpg_user_pic"><%= image_tag @user.profile_pic %></div>
      <div>
        <%= link_to @user.alias, user_path(@user.id) %>
        <div class="char_showpg_user_subtitle indented_subtitle">THE CREATOR</div>
      </div>
    </div>

    
    <%= char_edit_links %>
  </section>

  <% if !@char.bio.nil? && ( @char.bio.nil? || !@char.bio.empty? ) %>
    <section class="char_showpg_other_info_section">
      <div class="char_showpg_sidebar_title">
        Character Bio 
      </div>
      <p class = "char_showpg_bio">
        <%= @char.bio %>
      </p>  
    </section>
  <% end %>

  <section class="char_showpg_other_info_section">
    <% if @recent_battles.length > 0 %>
      <div class="char_showpg_sidebar_title">
        Recent Battles

        <%= current_streak_char_page %>

        <div class="char_showpg_user_subtitle">
          <%= link_to "see all battles & statistics", battle_history_path(id: @char.id) %>
        </div>

        <%= bip_icon_char_page %>
      </div>
      
      <ul class="char_showpg_recent_battles">
        <% @recent_battles.each do |b| %>
          <li>
          <% if @user == current_user %>
            <%= link_to b.outcome == "Victory" ? "▲ Victory over " : "▼ Defeated by ", battle_path(b.id) %>
          <% else %>
            <%= b.outcome == "Victory" ? "▲ Victory over " : "▼ Defeated by " %>
          <% end %>
            <%= link_to b.antag.supername, user_character_path(id: b.antag.id, user_id: b.antag.user_id), class: 'capitalize_link'  %>
          </li>
        <% end %>
      </ul>  
    <% else %>
      <div class="char_showpg_sidebar_title shrink">No battles to speak of...</div>
      <div class="char_showpg_user_subtitle">
        <%= link_to "see all battles & statistics", battle_history_path(id: @char.id) %>
      </div>
    <% end %>
  </section>
</div>



<div class="char_showpg_wrapper">
  
  <div id="char_showpg_char_card" class="char_showpg_card">

    <h2 class="char_showpg_supername"><%= @char.supername %></h2>
    <div class="char_showpg_redacted_dox_wrapper">
      <h4 class="char_showpg_secretid"> aka <%= secret_id_class %></h4><%= dox_button %>
    </div>

    <div class="char_showpg_details_wrapper">
      <div>
        <%= "LEVEL: #{@char.level}" %><br>
        <%= "NEXT LVL: #{@char.lvl_progress} / #{@char.pts_to_next_lvl}" %>
      </div>
      <div>
        <%= "#{@char.alignment} #{@char.char_type}" %><br>
        <%= "#{pluralize(@char.victories, 'Victory')} || #{pluralize(@char.defeats, 'Defeat')}" %>
      </div>
    </div>

    <div class="char_showpg_attributes">
      <div class="char_showpg_att_bookend"></div>
      <div class="char_showpg_attribute_square">
        HIT POINTS<div class="char_showpg_att_point_total"><%= "#{@char.hp_lvl_adjust}" %></div>
      </div>
      <div class="char_showpg_att_breaker"></div>
      <div class="char_showpg_attribute_square">
        ATTACK<div class="char_showpg_att_point_total"><%= "#{@char.att}" %></div>
      </div>
      <div class="char_showpg_att_breaker"></div>
      <div class="char_showpg_attribute_square">
        DEFENSE<div class="char_showpg_att_point_total"><%= "#{@char.def}" %></div>
      </div>
      <div class="char_showpg_att_bookend"></div>
    </div>

    <div class="char_showpg_interact_forms">
      <div class="char_showpg_fave_button"><%= render partial: "fave_button" %></div>
      <div class="pick_battle_char_form"><%= char_showpg_battle_form %></div>
    </div>

  </div>

  <div id="char_showpg_power_card" class="char_showpg_card">
    <h2 class="char_showpg_supername">Superpowers</h2>
    <%= char_showpg_superpowers %>
  </div>
</div>
