<div id="char_showpg_other_info">
  <section class="char_showpg_other_info_header">
    <div class="char_showpg_sidebar_title">
      <%= link_to @user.alias, user_path(@user.id) %>
    </div>
    <div class="char_showpg_user_subtitle">THE CREATOR</div>

    
    <%= char_edit_links %>
  </section>

  <% if !@char.bio.nil? && ( @char.bio.nil? || !@char.bio.empty? ) %>
    <section class="char_showpg_other_info_section">
      <div class="char_showpg_sidebar_title">
        Character Bio 
      </div>
      <p class = "char_showpg_bio">
        <%= @char.bio %>
      </p>  
    </section>
  <% end %>

  <section class="char_showpg_other_info_section">
    <% if @recent_battles.length > 0 %>
      <div class="char_showpg_sidebar_title">
        Recent Battles
        <div class="char_showpg_user_subtitle">
          <%= link_to "see all battles", battle_history_path(id: @char.id) %>
        </div>
      </div>
      <ul class="char_showpg_recent_battles">
        <% @recent_battles.each do |b| %>
          <li>
            <%= b.outcome == "Victory" ? "▲ Victory over " : "▼ Defeated by " %>
            <%= link_to b.antag.supername, user_character_path(id: b.antag.id, user_id: b.antag.user_id) %>
          </li>
        <% end %>
      </ul>  
    <% else %>
      <div class="char_showpg_sidebar_title shrink">No battles to speak of...</div>
    <% end %>
  </section>
</div>



<div class="char_showpg_wrapper">
  
  <div id="char_showpg_char_card" class="char_showpg_card">

    <h2 class="char_showpg_supername"><%= @char.supername %></h2>
    <h4 class="char_showpg_secretid"> aka <%= secret_id_class %></h4><%= dox_button %>

    <div class="char_showpg_attributes">
      <div class="char_showpg_att_bookend"></div>
      <div class="char_showpg_attribute_square">
        HIT POINTS <div class="char_showpg_att_point_total"><%= "#{@char.hp}" %></div>
      </div>
      <div class="char_showpg_att_breaker"></div>
      <div class="char_showpg_attribute_square">
        ATTACK <div class="char_showpg_att_point_total"><%= "#{@char.att}" %></div>
      </div>
      <div class="char_showpg_att_breaker"></div>
      <div class="char_showpg_attribute_square">
        DEFENSE <div class="char_showpg_att_point_total"><%= "#{@char.def}" %></div>
      </div>
      <div class="char_showpg_att_bookend"></div>
    </div>

    <div class="pick_battle_char_form"><%= char_showpg_battle_form %></div>

  </div>

  <div id="char_showpg_power_card" class="char_showpg_card">
    <h2 class="char_showpg_supername">Superpowers</h2>
    <%= char_showpg_superpowers %>
  </div>
</div>
