<%= resultpg_bg_styling %>
  <div class="battle_title_bar"><%= battle_title %></div>

  <div class="result"><%= outcome_declaration %></div>

  <div class="battle_log_wrapper">
    <%= battle_log_styling %>
      <div class="battle_log_header">Battle Log:</div>
      <div class="battle_log_turns">
        <%= style_log_text_battle_complete(@battle.log) %>
      </div>
    </div>
  </div>
</div>
