<nav id="navbar">
  <%= link_to "Home", root_path %>
  <%= link_to "Profile", user_path(current_user) %>
  <%= link_to "New Char", new_user_character_path(current_user) %>
  <%= link_to "Powers", powers_path %>
  <%= admin_links %>
  <%= form_with(url: "/logout", method: "delete") do %>
    <%= submit_tag 'Log Out' %>
  <% end %>

  <% if !!flash[:notice] %>
    <span class="home_error_flash"><%= flash[:notice] %></span>
  <% end %>
</nav>
