<!DOCTYPE html>
<html>
  <head>
    <title>SuperUniverse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav id="navbar">
        <%= form_with(url: "/logout", method: "delete") do %>
          <%= submit_tag 'Log Out' %>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
